.header {
  margin-bottom: 25.888px;
  display: flex;
  align-items:center;
  gap: 20px;

  > h2 {
    margin-bottom: 0;
  }
}
section {
    padding-bottom: var(--section-padding-md);
    padding-top: var(--section-padding-md);
    height: 100%;
}