.header {
  display: flex;
  align-items: center;
  gap: 20px;

  > h2 {
    margin-bottom: 0;
  }
}
section {
  padding-bottom: var(--section-padding-md);
  padding-top: var(--section-padding-md);
  height: 100%;
}

ul {
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}


#warning {
  color: var(--danger-color);
  font-size: 0.8rem;
  margin-bottom: 25.888px;
}