<header>
  <div class="container">
    <div class="header-left">
      <a class="logo" href="/#"><img src="../../../assets/favicon.png" /></a>
      <nav>
        <a id="home-link" href="/#">Home</a>
        <a id="colortesting-link" href="/#/colortesting">Color Testing</a>
      </nav>
    </div>
    <div class="weather-info">
      <x-weatherform
        class="popover"
        popover="manual"
        id="weather-form"
      ></x-weatherform>

      <p id="weather"></p>
      -
      <p id="location"></p>
      <button class="btn secondary" popovertarget="weather-form">Set location</button>
    </div>
  </div>
</header>
<main>
  <slot></slot>
</main>
