.grid-row {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
}

.grid-row > * {
  flex: 1;
}

#grid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    & > * {
        flex: 1;
        width: 100%;
        min-width: 0; /* Prevents overflow */
    }
}

#color-palette {
  height: 50px;
  width: 100%;
  border: 1px solid var(--base-100);
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
}

x-endresults {
  overflow: scroll;
}


section {
    padding-bottom: var(--section-padding-md);
    padding-top: var(--section-padding-md)
}